###**Q1**.  Use [Lucidchart](https://sjsu.edu/it/services/applications/lucidchart.php) to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product:
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit it in Canvas.

###**Q2**. Create SQLite tables and load data
1. Here are the csv files for the data for the four tables:
   - product: https://raw.githubusercontent.com/csbfx/cs133/main/product.csv
   - customer: https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv
   - order_item: https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv
   - purchase_order: https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [1]:
import pandas as pd
import sqlite3
from pathlib import Path

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
gdrive='drive/MyDrive/SJSU/Fall24/'
Path(gdrive+'student.db').touch()

In [25]:
conn = sqlite3.connect(gdrive+'student.db') # creates a connection to the database
c = conn.cursor() # the cursor is what we'll actually use

In [26]:
# 2.2 Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .
SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS product (
             product_id INTEGER PRIMARY KEY,
             name TEXT NOT NULL,
             price REAL
             )'''

c.execute(SQL_CreateTable)
SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS customer (
             customer_id INTEGER PRIMARY KEY,
             name TEXT NOT NULL,
             email TEXT NOT NULL
             )'''

c.execute(SQL_CreateTable)
SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS purchase_order (
             order_id INTEGER PRIMARY KEY,
             customer_id INTEGER,
             date TEXT not null,
             FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
             )'''

c.execute(SQL_CreateTable)
SQL_CreateTable = '''CREATE TABLE IF NOT EXISTS order_item (
             order_id INTEGER,
             product_id INTEGER,
             quantity INTEGER,
             PRIMARY KEY (order_id, product_id),
             FOREIGN KEY (order_id) REFERENCES purchase_order(order_id),
             FOREIGN KEY (product_id) REFERENCES product(product_id)
             )'''

c.execute(SQL_CreateTable)

In [27]:
# 2.3 Load the data in the csv files into the corresponding table.
# Your code here . . .
SQL_InsertStmt = """INSERT INTO product VALUES
                 (0,'bicycle', 400),
                  (1,'helmet', 45),
                   (2,'gloves', 23),
                  (3,'chain', 48)"""

c.execute(SQL_InsertStmt)

SQL_InsertStmt = """INSERT INTO customer VALUES
                 (0, 'Wendy Lee', 'wlee@bike.com'),
                (1, 'Jason Brown', 'jb@speed.com'),
                (2, 'Harry Potter', 'hp@hogwarts.edu'),
                (3, 'Godric Gryffindor', 'gg@hogwards.edu')"""

c.execute(SQL_InsertStmt)


SQL_InsertStmt = """INSERT INTO purchase_order VALUES
                 (0, 0, '2020-10-19'),
              (1, 0, '2020-10-20'),
              (2, 1, '2020-10-20')"""

c.execute(SQL_InsertStmt)

SQL_InsertStmt = """INSERT INTO order_item VALUES
                 (0, 0, 1),
                  (0, 1, 1),
                  (1, 2, 2),
                (1, 3, 1)"""

c.execute(SQL_InsertStmt)

In [28]:
# 2.4 Commit so that the data loaded to the tables to officially written to the tables.
# Your code here . . .
conn.commit()

In [29]:
# 2.5 Execute a query SELECT * from each table to make sure the data are properly loaded.
# Your code here . . .
c.execute("SELECT * FROM product")
results = c.fetchall()
print(results)
c.execute("SELECT * FROM customer")
results = c.fetchall()
print(results)
c.execute("SELECT * FROM purchase_order")
results = c.fetchall()
print(results)
c.execute("SELECT * FROM order_item")
results = c.fetchall()
print(results)

[(0, 'bicycle', 400.0), (1, 'helmet', 45.0), (2, 'gloves', 23.0), (3, 'chain', 48.0)]
[(0, 'Wendy Lee', 'wlee@bike.com'), (1, 'Jason Brown', 'jb@speed.com'), (2, 'Harry Potter', 'hp@hogwarts.edu'), (3, 'Godric Gryffindor', 'gg@hogwards.edu')]
[(0, 0, '2020-10-19'), (1, 0, '2020-10-20'), (2, 1, '2020-10-20')]
[(0, 0, 1), (0, 1, 1), (1, 2, 2), (1, 3, 1)]

In [30]:
# 2.6 Execute a query using SELECT statement that queries with JOIN tables to find the purchase date,
#    the products and quantities that a particular customer has purchased.
# Query 1: ???

c.execute("SELECT purchase_order.date, customer.name FROM purchase_order, customer WHERE customer.customer_ID = purchase_order.customer_ID ")
results = c.fetchall()
print(results)

# Query 2: ???
# Your code here . . .
c.execute("SELECT  customer.name, product.name, order_item.quantity FROM purchase_order, customer, product, order_item WHERE customer.customer_ID = purchase_order.customer_ID AND order_item.order_id = purchase_order.order_id AND product.product_id = order_item.product_id ")
results = c.fetchall()
print(results)

[('2020-10-19', 'Wendy Lee'), ('2020-10-20', 'Wendy Lee'), ('2020-10-20', 'Jason Brown')]
[('Wendy Lee', 'bicycle', 1), ('Wendy Lee', 'helmet', 1), ('Wendy Lee', 'gloves', 2), ('Wendy Lee', 'chain', 1)]

In [31]:
# Additional tasks
# Appending a new row to one of the tables
SQL_InsertStmt = """INSERT INTO product VALUES
                 (4,'wheel', 80)
                 """

c.execute(SQL_InsertStmt)


# Deleting row(s) with "XXX"
SQL_DeletStmt = """DELETE FROM customer
            WHERE name = 'Wendy Lee'
                 """